.navbar {
  background-color: #F98568;
  padding: 10px 20px;
  color: white;
  position: fixed; /* fixed at the top */
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  position: relative; /* needed for positioning dropdown */
}

.navbar-icon {
  color: white;
  font-size: 24px;
}

.navbar-item:hover {
  color: #007B7F;
}

.navbar-dropdown-menu {
  display: none;
  position: absolute; /* positioned relative to the parent */
  top: 100%; /* positions below the parent */
  left: 0;
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 200px; /* adjust as needed */
  z-index: 1; /* ensures it appears above other elements */
}

.navbar-item:hover .navbar-dropdown-menu {
  display: block; /* show the dropdown on hover */
}
