:root {
    --primary-color: #f98568;
    --secondary-color: #ffe1d3;
    --tertiary-color: #590000;
    --text-color: #000000;
    --background-color: #f7f7f7;
  
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Arial', sans-serif;
  }
