:root {
    --font-family: 'Arial, sans-serif';
    --primary-color: #F98568;
    --secondary-color: #FFFFFF;
    --heading-font-size: 2rem;
    --body-font-size: 1rem;
  }

  body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
